@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

/* Estilos para o botão de som */
.buttonsFooter .buttonSom button{
    outline: none;
    border: none;
    background-color: #DDDDDD;
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonsFooter .buttonSom button:hover{
    background-color: #CCCCCC;
    transition: 0.3s;
}

.buttonsFooter .buttonSom button.playing{
    background-color: #05ABC4;
}

/* Estilos responsivos */
@media (max-width: 575.98px) {
    .buttonsFooter .buttonSom button{
        height: 60px;
        width: 40px;
    }
    .buttonsFooter .buttonSom img{
        height: 30px;
        width: 60px;
    }
}
